<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dasturlash texnologiyalari
  </title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body>
  
<!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="../index.html">Bosh sahifa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-end" style="margin-left: auto;">
          <li class="nav-item px-2">
            <a class="nav-link link-info" href="./use_data.html">Tekshirish</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link link-light" href="./create_data.html">Training data qo'shish</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="./about.html">Dastur haqida</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="./contact.html">Bog'lanish</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="text-center m-3">
      <h1 class="display-4">Dastur haqida</h1>
      <!-- <p class="lead">Dastur yaratuvchisi: </p> -->
    </div>
  </main>

  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>